
.formControl.error input,
.formControl.error textarea{
    border: 4px solid red;;
}

.formControl.error div{
    color: red;
}
.formSummaryError{
    width: 155px;
    color: red;
    padding: 3px;
    border: 1px solid #F35E18;
}