.nav {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid black;
}

.item a{
    color: #958dc1;
    display: block;
    text-decoration: none;
    margin: 20px;
}

.item a.activeLink {
    color: white;
}