.nav {
    margin: 20px;
    grid-area: n;
    background-color: #e7c3d6;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid black;
}

.item a{
    color: black;
    display: block;
    text-decoration: none;
    margin: 20px;
}

.item a.activeLink {
    color: white;
}