.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
}

.dialogs_items .active {
    color: black;
}

.messages div {
    padding: 20px;
    margin: 5px;
    border: 5px solid black;
    background-color: #958dc1;
}

